.text-stroke-black {
    text-shadow:
        -1px -1px 0 #ffffff,
        1px -1px 0 #ffffff,
        -1px 1px 0 #ffffff,
        1px 1px 0 #ffffff;
}

/* Tech Fest Marquee start*/
.marquee {
    width: 100%;
    margin: 2rem auto;
    white-space: nowrap;
    overflow: hidden;
    height: fit-content;
    background: #1E0B37;
    display: flex;
    align-items: center;
    box-shadow: 0 0 20px 5px #2e0168;
}

.marquee .text {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-left: 3rem;
    text-indent: 0;
    animation: marquee 3s linear infinite;
    font-size: 1.5rem;
    line-height: 125%;
    letter-spacing: -0.04;
    color: white;
}

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}

/* Tech Fest Marquee end*/

/* Tech Fest Marquee2 start*/
.marquee2 {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    height: fit-content;
    background: transparent;
    display: flex;
    align-items: center;
    transform: rotate(-3deg);
}

.marquee2 .text {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-left: 3rem;
    animation: marquee 6s linear infinite;
    font-size: 4rem;
    line-height: 125%;
}

@keyframes marquee2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}

/* Tech Fest Marquee2 end*/

/* Tech Fest Marquee3 start*/
.marquee3 {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    height: fit-content;
    background: transparent;
    display: flex;
    align-items: center;
    transform: rotate(-3deg);
}

.marquee3 .text {
    position: relative;
    top: -1rem;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    animation: marquee 5s linear infinite;
    font-size: 3rem;
}

.textStroke {
    -webkit-text-stroke: .3px white;
}

@keyframes marquee3 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}

/* Tech Fest Marquee3 end*/


/* FAQ */
.lbl-toggle {
    transition: all 0.1s ease-in;
}

.lbl-toggle::before {
    content: ' ';
    float: right;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid currentColor;
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(6px);
    rotate: -90deg;
    transition: transform .2s ease-in-out;
}

.toggle:checked+.lbl-toggle::before {
    color: white;
    transform: rotate(-180deg) translateX(-3px);
    transition: all 0.25s ease-in-out;
}

.toggle:checked+.lbl-toggle {
    color: white;
}

.collapsible-content {
    max-height: 0px;
    overflow: hidden;
    transition: all .5s ease-in-out;
}

.toggle:checked+.lbl-toggle+.collapsible-content {
    max-height: fit-content;
}

/* FAQ end */